<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Import the required libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as stats
import seaborn as sns
from scipy.stats import ttest_1samp,f_oneway
from scipy.stats import chi2_contingency,chisquare
from   statsmodels.formula.api import ols
from   statsmodels.stats.anova import anova_lm

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The sales manager at an electronics company wants to study if online sales of their products in 2019 follow the same distribution as the online sales of products in 2015. He collected the sample of 300 products sold in 2019. Help the manager to test his claim using p-value technique at a 99% confidence level.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='chi_2.png'>

In [2]:
# HO: 2015=2019
# Ha 2015!=2019
n=300
chisquare([85,90,125],[0.38*n,0.20*n,0.42*n])
# Since p value is less than 0.01 we can reject null hypothesis and say Ha 2015!=2019

Power_divergenceResult(statistic=22.38512949039265, pvalue=1.3776246111575923e-05)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Use hypothesis testing to check if the type of car is dependent on the type of car's transmission. Test the hypothesis with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='chi_ind.png'>

In [16]:
# Ho: depends 
# Ha : does not depend 
x=pd.DataFrame([[104,85,78],[35,61,72]],columns=[['Low Maintainance','Medium Maintainance','High Maintainance']],index = [['Manual Transmission','Automatic Transmission']])
chi2_contingency(x)
# since p value is less than 0.05 we can reject null hypothesis and transmission does not on maintenance

(16.774829953535356,
 0.00022771516717561853,
 2,
 array([[85.31724138, 89.6137931 , 92.06896552],
        [53.68275862, 56.3862069 , 57.93103448]]))

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. A company produces leather belts on three different production lines. The number of defective belts produced by each line is recorded. Test if all the production lines produce on an average equal number of defective belts. Use the p-value technique to test at 5% level of significance.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `defective_prod.xlsx`

In [20]:
df=pd.read_excel('defective_prod.xlsx')
df.head()
# HO = A=B=C
#Ha: A!=B!=C
m=ols('def_belts ~ production_line',data=df).fit()
anova_lm(m,type=1)
# since p value > 0.05 we cannot reject null hypothesis and say  A!=B!=C

                   df      sum_sq   mean_sq         F    PR(>F)
production_line   2.0   10.380952  5.190476  0.838462  0.448578
Residual         18.0  111.428571  6.190476       NaN       NaN

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The company wants to decide their advertisement strategies for their new smartwatch. The manager collects the advertising cost (in dollars) for four different mediums. Test if the company is spending on average an equal amount on all the advertising mediums using a critical value approach with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `ad_cost.xlsx`

In [23]:
ad=pd.read_excel('ad_cost.xlsx')
ad.head()

     medium  cost
0  Snapmart   252
1   Picbook   378
2    Funsta   312
3   Klicker   297
4   Picbook   361

In [24]:
m=ols('cost ~ medium',data=ad).fit()
anova_lm(m,type=1)

           df        sum_sq      mean_sq          F   PR(>F)
medium    3.0  16744.250000  5581.416667  14.880471  0.00123
Residual  8.0   3000.666667   375.083333        NaN      NaN

In [25]:
# null hypothesis is rejected since p value is less than 0.01
# average spending on all the advertising mediums is not equal